openapi: 3.1.0
jsonSchemaDialect: "https://json-schema.org/draft/2020-12/schema"
info:
  title: Official MCP Registry API
  summary: Official API for discovering and accessing MCP servers metadata with registry constraints
  description: |
    Extends the base MCP Server Registry API with additional constraints for the official registry and adding additional functionality.
    The Official Registry allows server creators to publish and maintain metadata about their servers in a standardized format.
    The read side of the API enables MCP client applications and "server aggregator" type consumers to discover and install MCP servers.
  version: 0.0.1
  contact:
    name: MCP Community Working Group
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://registry.modelcontextprotocol.io/api/v0
    description: Official MCP Registry

paths:
  /servers:
    $ref: 'https://modelcontextprotocol.io/schemas/draft/2025-07-09/server-registry-openapi#/paths/~1servers'
  /servers/{id}:
    $ref: 'https://modelcontextprotocol.io/schemas/draft/2025-07-09/server-registry-openapi#/paths/~1servers~1{id}'

components:
  schemas:
    Repository:
      allOf:
        - $ref: 'https://modelcontextprotocol.io/schemas/draft/2025-07-09/server-registry-openapi#/components/schemas/Repository'
        - type: object
          properties:
            source:
              enum: [github]
    
    Package:
      allOf:
        - $ref: 'https://modelcontextprotocol.io/schemas/draft/2025-07-09/server-registry-openapi#/components/schemas/Package'
        - type: object
          properties:
            registry_name:
              enum: [npm, docker, pypi, nuget]
    
    VersionDetail:
      allOf:
        - $ref: 'https://modelcontextprotocol.io/schemas/draft/2025-07-09/server-registry-openapi#/components/schemas/VersionDetail'
        - type: object
          required:
            - release_date
            - is_latest
          properties:
            release_date:
              type: string
              format: date-time
              example: "2023-06-15T10:30:00Z"
              description: Datetime that the MCP server version was published to the registry.
            is_latest:
              type: boolean
              example: true
              description: Whether the MCP server version is the latest version available in the registry.